#######DEPLOYMENT.YAML#########
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-flask-app
  namespace: default          # <-- added
  labels:
    app: my-flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-flask-app
  template:
    metadata:
      labels:
        app: my-flask-app
    spec:
      containers:
      - name: flask
        image: oluyemmy/my-flask-app:2026-02-12-211452

        ports:
        - containerPort: 5000




---


##########SERVICE.YAML#########
apiVersion: v1
kind: Service
metadata:
  name: my-flask-app-service
  namespace: default          # <-- added
  labels:
    app: my-flask-app
    release: prometheus
spec:
  selector:
    app: my-flask-app
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 5000
  type: ClusterIP